@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage) && Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    <p>
        <strong>@Model.ErrorMessage</strong>
    </p>
    
}
else
{
    <p>
        <strong>Error:</strong> <code>@Model.RequestId</code>
    </p>
}

